@font-face {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style:normal;
    src: url(fonts/ptsans-400.woff2) format("WOFF2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: bold;
    src: url(fonts/ptsans-700.woff2) format("WOFF2");
    font-display: swap;
}

html {
    height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/* Кнопки */

.button {
    font-family: "PT Sans", sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 8px 50px;
}

.button-navigation-link, .filter-button, .button-catalog-details, .button-catalog-favorite {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.button-navigation-link {
    padding: 8px 34px;
}

.button-search, .button-distribution {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
}

.button-search {
    padding: 8px 50px;
}

.button-navigation-link, .button-search, .button-catalog-details {
    background-color: #756157;
}

.button-distribution, .filter-button, .button-catalog-favorite {
    background-color: #82B3D3;
}

.button-distribution {
    padding: 8px 50px;
}

.button-light {
    width: 48px;
    height: 48px;
    padding: 17px 16px;
    margin-right: 8px;
}

.button-light:last-child {
    margin-right: 0;
}

.button-catalog-active-favorite {
    background-color: #7DB54F;
}

.light-button {
    background-color: transparent;
}

.button-rating {
    font-weight: 400;
    color: #000000;
    background-color: #F2F2F2;
}



/* Header*/

.navigation-link {
    display: block;
    padding: 20px 16px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-decoration: none;
    color: #000000;

}

.navigation-link-user {
    padding: 22px 12px;
    min-width: 44px;
    min-height: 64px;
}

.button-navigation-link {
    color: #FFFFFF;
}

.navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding-left: 70px;
    padding-right: 70px;
}


.navigation-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.navigation-user {
    max-width: 88px;
    margin-left: auto;
}

.navigation-link-user {
    padding: 22px 12px;
}

/*Main*/

.main-container {
    flex-grow: 1;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
}


.hero {
    display: flex;
    justify-content: center;
    background-image: url("../images/index/hero-index-background.jpg");
    background-color: #3F5E72;
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-top: 51px;
    padding-bottom: 25px;
}

.image-welcome {
    display: block;
    margin: 0 auto;

}
/* Преимущества */

.advantages-cause {
    margin-top: 69px;
}

.advantages-comfort {
    margin-top: 64px;
}

.advantages-cause-list, .advantages-comfot-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
}

.advantages-cause-item, .advantages-comfort-item {
    width: 400px;
}

.white-advantages {
    display: flex;
    background-color: #82B3D3;
    width: 1200px;
}

.container-white-advantages, .black-1-advantages, .black-2-advantages, .advantages-comfort-item {
    width: 400px;
    height: 385px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-white-advantages {
    padding: 102px 85px;
}

.black-1-advantages {
    background-color: #83B3D31F;
    padding: 112.5px 85px;
}

.black-2-advantages {
    background-color: #83B3D333;
}

.advantages-comfort-item {
    padding: 81px 85px;
}

.advantages-cause-text-head, .advantages-comfort-text-head {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.advantages-comfort-text-head {
    width: 505px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.advantages-cause-text-head {
    width: 620px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.advantages-cause-text {
    width: 651px;
    margin: 0 auto;
    margin-bottom: 90px;
}

.advantages-cause-text, .advantages-comfort-text {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    color: #333333;
}

.advantages-comfort-text {
   width: 490px;
   margin: 0 auto;
   margin-bottom: 64px;
}

.advantages-cause-title, .advantages-comfort-title {
    margin: 0 auto;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.advantages-cause-description, .advantages-comfort-description {
  color: #333333;
  text-align: center;
  margin: 0;
}

.advantages-cause-description-white, .advantages-cause-title-white {
    color: #FFFFFF;
}

.advantages-cause-image {
    display: block;
}

/* Поиск гостиницы и рассылка */

.search{
    display: flex;
    justify-content: center;
    padding: 96px 0;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 592px;
}
.search-title, .distribution-title, .distribution-title-catalog {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

.search-text, .distribution-text, .distribution-text-catalog {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    margin: 0;
}

.search-text {
    margin-bottom: 54px;
}

.distribution {
    background-image: url("../images/index/subscribe-background.jpg");
    background-color: #3F5E72;
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding: 96px 258px 104px;
}

.distribution-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 684px;
}

.distribution-title, .distribution-text {
    color: #FFFFFF;
}

.distribution-container-text {
    width: 475px;
    margin-bottom: 54px;
}

.distribution-catalog {
    background-color: #FFFFFF;
}

.distribution-title-catalog {
    color: #000000;
}

.distribution-text-catalog {
    color: #333333;
}


/* Footer */

.page-footer-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 40px 70px 30px;
}

.footer-social {
    margin-right: 41.5px;
    max-width: 142px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-social-item {
    width: 47.33px;
    height: 40px;
}

.footer-tel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 720px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

.dev-logo {
    width: 115px;
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-top: 8.5px;
    margin-bottom: 8.6px;
}

/* Фильтр */

.filter-content {
    width: 1060px;
    padding: 35px 70px 70px;
}

.filter {
    color: #FFFFFF;
    background-image: url("../images/catalog/catalog-background.jpg");
    background-color: #3F5E72;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.inner-header-title {
    margin: 0;
    margin-bottom: 8px;
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
}

.breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    list-style-type: none;
}

.breadcrumbs-link {
    margin-right: 28px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    text-decoration: none;
    color: #FFFFFF;
}

.breadcrumbs-link-home {
    width: 13px;
    height: 15px;
}

.filter-infrastructure-title, .filter-type-title, .filter-price-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.filter-infrastructure-item, .filter-type-item {
    font-size: 18px;
    line-height: 23px;
}

.from, .to {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

/* Каталог */

.catalog {
    display: flex;
    flex-direction:column;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-item {
    width: 340px;
}

.select-container {
    display: flex;
    padding: 50px 70px 40px;
}

.catalog-text {
    margin-top: 6.5px;
    margin-bottom: 6.5px;
    margin-right: 200px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.select-control {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #333333;
}

.button-light-container {
    display: flex;
    margin-left: auto;
}

.catalog-item-title {
    font-size: 24px;
    line-height: 28px;
}

.catalog-item-text, .catalog-item-price, .button-rating {
    color: #333333;
}

.catalog-item-price {
    text-align: right;
}

/* Пагинация */

.slider-pagination-link {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #82B3D3;
}

.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}

.pagination-hidden {
    color: #000000;
    background-color: #FFFFFF;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
}
